[2017-08-09 11:55] MalloZup opened #1 "Add go go jenkins"
It's sometimes handy to re-trigger Jenkins jobs manually, and a convenient way is a magic comment like Salt developers do:

saltstack/salt#41235 (comment)

[2017-08-09 11:56] MalloZup opened #2 "Gitbot need to works with non-upstream branches"
If somebody want to push a PR from "GINO-"repo to "SPACE" repo, this will not work because gitbot is assuming that the branch already exist, and you create an upstream branch to SPACE, so gitbot can retrieve the branch and switch on it

[2017-08-09 11:57] MalloZup opened #3 "Add "organization" parameter"
The organisation parameter will run the test only if the user is a part of group on github.

[2017-08-18 14:46] MalloZup opened #4 "add mechanism when git checkout merge etc go wrong"
if therre are conflicts or something, we need to ensure that the branch git is restored or deleted

[2017-08-29 08:33] MalloZup opened #7 "refactoring main"
split main in more convenable way, refractoring it in a class to lib

[2017-08-29 09:48] MalloZup commented on #4
https://github.com/SUSE/spacewalk/pull/1952

[2017-08-29 09:49] MalloZup commented on #4
https://ci.suse.de/job/manager-prs-schema-migration-test-oracle/10775/

[2017-08-29 13:39] MalloZup commented on #1
fixed

[2017-08-29 13:39] #1 closed

[2017-09-01 09:05] MalloZup opened #10 "improve the rspec test against: run this automatically"
- [x] improved testing with acceptance tests

- [x] use rspec for acceptance tests

- [x] create how to contriubte small doc

- [x] Increase coverage if needed (analyze it)

- [x] find a way to mock github prs https://github.com/octokit/fixtures#how-it-works

[2017-09-03 08:54] #7 closed

[2017-09-13 16:55] MalloZup opened #13 "remove arguments and replace them with PR object"
[code]
and the rest is readed by method internally

[2017-09-14 15:18] #2 closed

[2017-09-14 15:18] MalloZup commented on #2
fixed

[2017-09-14 15:28] MalloZup commented on #13
fixed

[2017-09-14 15:28] #13 closed

[2017-09-14 15:28] MalloZup commented on #4
fixed

[2017-09-14 15:28] #4 closed

[2017-09-21 11:28] MalloZup opened #19 "changelog is reaching max status"
https://ci.suse.de/job/manager-prs-changelog/4545/

[2017-09-21 12:42] MalloZup commented on #19
fixed

[2017-09-21 12:42] #19 closed

[2017-09-22 13:06] MalloZup opened #26 "Feature: add possibilty to fetch options from yaml files"
### postifx of file yaml

- postfix``` TEST0_gitbot.yaml``` so gitbot.yaml

### how to execute
``` gitbot  mytest_gitbot.yml ``` will  parse all option from the file

## todos:

- [ ] Feature

- [ ]  Documentation

- [ ]  Tests

[2017-09-22 13:21] MalloZup opened #27 "Implement oauth token access"
https://help.github.com/articles/git-automation-with-oauth-tokens/

[2017-09-23 13:44] MalloZup commented on #27
add documentation to use that

[2017-09-25 08:34] #27 closed

[2017-09-25 09:45] MalloZup opened #32 "make file_type option optional"

[2017-09-25 09:46] MalloZup commented on #10
- [ ] improved testing with acceptance tests

- [ ] use rspec for acceptance tests

- [ ] create how to contriubte small doc

[2017-09-25 20:58] MalloZup opened #36 "git conflicts can make gitbot tests exec"
it happens that if there are PRs with conflicts, the git Fs mess up, we need more testing on that, and add a mechanism to remove the git_dir if this cannot be resolved.

[code]

Ok for PR 30 is normal that it fails. ( so it is not a bug), and is normal that it fails with conflicts (PR is old)

we should maybe catch that error and print some errors? donno, for later maybe.
functionality is ok

[2017-09-26 12:13] MalloZup commented on #36
closing

[2017-09-26 12:13] #36 closed

[2017-09-26 17:43] MalloZup commented on #32
adressed on https://github.com/openSUSE/gitbot/pull/39

[2017-09-27 09:56] juliogonzalez opened #41 "Exit with error code -1 if there are any errors cloning repositories"
Right now:
[code]
The test proceeded even if there was an error cloning, and exits with return code 0, so the test is marked as successful at the PR status.

[2017-09-27 10:46] MalloZup commented on #41
@juliogonzalez afaik you reproduce it with private clone ? can we have maybe a simple use case to reproduce it?

[2017-09-27 11:20] juliogonzalez commented on #41
Let me check, but I think a private clone is not needed per se to reproduce.

As long as SSH key used by gitbot is not authorized at the forked repo, it should fail (you can clone public repos using https without special right, but to use SSH your user must be authorized by the repository owner).

I will try it and will let you know.

[2017-09-27 12:03] MalloZup opened #42 "finish gitarro renaming"
- [ ]  rename docker images related stuff.

- [x]  Rename all Jenkins jobs to use gitarro (done partially)

[2017-09-27 12:04] MalloZup commented on #42
we need to move away from this name and take a more expressive one

[2017-09-27 12:17] juliogonzalez commented on #42
Yes, and at the same time the way of calling the bot should be configurable (and by default the new name).

Right now it's confusing since @gitbot is a mention to a user called ```gitbot``` at GitHub, and even more confuse when the users that people use to run gitbot could be different :-D

However keep in mind that when we change the name we will need to:

- Correct the Docker Hub project name.
-

[2017-09-27 12:27] MalloZup commented on #42
yop the rename has some changes needed.

- `gitcollie` (https://en.wikipedia.org/wiki/Border_Collie) (an intelligent gitdog)
- ..

Which name should we pick?

[2017-09-27 12:35] juliogonzalez commented on #41
So far I am not able to reproduce it with public repos, but I will email you a link (private) so you can have a look.

[2017-09-27 15:13] MalloZup commented on #41
https://github.com/openSUSE/gitbot/commit/02d494fec5c940a250eb3fca838c3fa6d8665674

[2017-09-27 15:13] #41 closed

[2017-09-27 15:13] MalloZup commented on #41
thx julio!

[2017-09-27 17:15] MalloZup commented on #3
i dont see any interest for this atm

[2017-09-27 17:15] #3 closed

[2017-09-27 17:24] MalloZup opened #43 "make a ruby gem"
depends first on this  #42 :)

[2017-09-27 20:21] juliogonzalez commented on #42
Some other (boring) names:

- ```git-o-check``` (```gitocheck```)
- ```git-o-matic``` (```gitomatic```)
- ```git-o-tester``` (```gitotester```)

And one 'Spanish':

- ```gitbotijo``` or ```botijogit``` (since we say botijos for fun, instead of bots): https://en.wikipedia.org/wiki/Botijo and http://www.directoalamesa.com/wp-content/uploads/2013/03/Botijo.jpg (we can even use a botijo as a logo xD)

[2017-09-28 09:34] MalloZup commented on #42
@juliogonzalez : gitarro  is ok?  then  we can use it ?

[2017-09-28 09:55] juliogonzalez commented on #42
It is easy to pronounce in most languages, it is funny, it is easy to remember, it should be easy to make a logo, and (as you say) it is easy to write on cmdline.

+1 for ```guitarro``` :-D

[2017-09-28 13:44] MalloZup commented on #43
done

[2017-09-28 13:44] #43 closed

[2017-09-28 14:40] juliogonzalez opened #45 "Use PRs"
@MalloZup, can you please make a single PR for the refactor and transformation into a gem?

I am trying to add a new functionality, but I see now duplicated code, and don't know where to make the changes anymore.

[2017-09-28 14:50] MalloZup commented on #45
@juliogonzalez  i will rebase it

[2017-09-28 14:54] juliogonzalez commented on #45
Great, but don't do it on master!

What's already on master, should stay, or there will be conflicts for people who already cloned the repo.

Why we should be always develop and test with PRs and never send commits directly to openSUSE/gitarro.

[2017-09-28 15:04] MalloZup commented on #45
@juliogonzalez yop,  i took the only exception for this renaming , consider it as fixed, sorry for this inconvenients, the gitbot -> gitarro took some time :)

[2017-09-28 15:07] juliogonzalez commented on #45
I still see duplicated code, one at lib/ the other at gem/lib (for example), so when I try to rebase it is impossible to do it :-(

If the only valid code is under gem/ then we need git to make aware that we are moving things from / to gem/

[2017-09-28 15:08] MalloZup commented on #45
everything in gem directory is not valid, (i updated right now the doc).

I will add a gitgnore now for gem dir

[2017-09-28 15:27] juliogonzalez commented on #45
@MalloZup I have conflicts at my local master fetch from upstream (this repo)

Did you rebased master at this repo?

[2017-09-28 15:29] juliogonzalez commented on #45
Basically I can see the following commits at one of my FIX branches with commits that are not at master anymore:

@MalloZup
MalloZup
Remove gitbot from classname
7eb82d5
 @MalloZup
MalloZup
Replace gitbot name class with simply backend
cacf8fe
 @MalloZup
MalloZup
Remove gitbot dependencies in libraries
de9b46f
 @MalloZup
MalloZup
Remove gitbot name in code
93fc2c3

[2017-09-28 15:32] juliogonzalez commented on #45
@MalloZup never squash branches at master, because now the PR I have, an another one I was preparing need to be closed and I will need to prepare manual diffs since my branches do not share a common history with master anymore :-(

[2017-09-28 15:33] MalloZup commented on #45
@juliogonzalez  ok , sorry . Consider this  as an exception that occurred because all this renaming stuff

[2017-09-28 15:36] juliogonzalez commented on #45
No problem :-)

Just keep in mind that changing history at upstream (specially muster) must never be done, even if the history is dirty.

That's why we should use always PRs (or when working on repositories without other people, at least using branches and making clear to the people which branches are master or master-equivalent and which branches can change history).

[2017-09-28 15:40] MalloZup commented on #45
@juliogonzalez ok thx for clarifications, normally i'm the PR fanatic too.

I think we should consider issue #42  asap.

This include the dockerimages, but what is more critical is that all our jenkins job are using the old name

```gitbot```

At moment we have a salt state that take the latest version of gitbot (cloned it) etc,

tomorrow i will fix the jobs via gui :cry:  ( this is why we need a

[2017-09-28 15:41] MalloZup commented on #45
i close this

[2017-09-28 15:41] #45 closed

[2017-09-28 15:42] juliogonzalez commented on #45
You can also fix the jobs via API with a bash script. Well have a look tomorrow.

[2017-09-28 16:09] MalloZup opened #49 "Elixir hackweek, erlang power"
some experimental ideas ( since it is hackweek)

https://hackweek.suse.com/16/projects/gitarro-meet-elixir

My goal, is to learn elixir and add some cool feature to gitarro ( as 3rdy party tool, without touching the engine/core of gitarro)

- global fetching of pr with custom filter (and trigger to workersd
- webserver
- worker/scheduler architecture
...

[2017-09-28 16:24] juliogonzalez commented on #42
Regarding Jenkins Jobs: I think right now they use a gitbot.rb outside the workspace.

I propose making gitarro stable tomorrow, and make a release on monday.

Then we will instruct Jenkins Jobs not using Docker to clone gitarro from the repo each time they run, using the release tag.

And for the jobs using Docker, I will change the Dockerfile to fetch the latest stable available (right now it do

[2017-09-28 16:26] juliogonzalez commented on #42
Oh, before the release we should consider merging the --change_newer option and the other one to fetch only the commits we need for the tests, instead of the whole repo. Will help a lot with the big repo we have.

[2017-09-29 09:42] MalloZup opened #51 "rate limiting issue"
when we are fetching to much for new changes on PRs

We need to find a longterm solution for rate-limiting problem.

[2017-09-29 09:49] MalloZup commented on #51
https://coderwall.com/p/hu2n4g/how-to-make-conditional-requests-to-github-s-api-using-octokit

[2017-09-29 13:14] MalloZup commented on #51
https://developer.github.com/v3/#conditional-requests

[2017-09-29 13:21] MalloZup commented on #51
[code]

[2017-09-29 13:56] MalloZup commented on #51
@juliogonzalez  i think in longterm this will be the solution:

http://kgrz.io/http-request-response-caching-using-faraday-part-1.html
(since it even supported and suggested by the octokit.rb library).

I will try to research and read about it, in short term your pr can be a solution

[2017-09-29 14:15] juliogonzalez commented on #51
Well, I saw faraday, but what I don't like about the solution is that, as far as I understand it requires a new service to be configured or at least persistent storage, or keep gitbot running all the time (in the end you need to save the cache information somewhere).

If that is the case, it means it will be harder integrate it with other tools, since gitarro won't be standalone anymore (in the wo

[2017-09-29 14:20] MalloZup commented on #51
Yop the same thing i was thinking is that we need a faraday storage, and i agree with your considerations.

I think that conditional request are the best solution atm.

[2017-09-30 14:17] #49 closed

[2017-09-30 15:57] MalloZup commented on #32
fixed by #52

[2017-09-30 15:57] #32 closed

[2017-09-30 16:44] MalloZup opened #54 "changelogtest should be a separate standalone test ( not part of gitarro itself)"
Figure out how to extrapolate the whole changelog flag and make a standalone test that gitarro will execute like

-t `changelog.rb`

[2017-10-02 09:32] MalloZup opened #55 "support a single bash CMD for the -t flag"

[2017-10-02 09:33] MalloZup commented on #54
@juliogonzalez i think this --changelogtest option is kind of unrelated and is adding more complexity on the codebase

[2017-10-02 09:40] juliogonzalez commented on #54
I agree.

We should maybe provide it inside the tools/ directory and then as an example.

[2017-10-02 09:42] juliogonzalez opened #57 "Provide a real example with docker"
- Create a dockerfile, test it and add it to the repo
- Publish docker image to hub
- Upgrade the doc

[2017-10-02 09:58] juliogonzalez commented on #42
This can now be closed: https://hub.docker.com/r/gitarro/rubocop/tags/ (tested at: https://jenkins.juliogonzalez.es/job/cdtraining-gitbot-test-pr/5/console)

[2017-10-02 10:15] #42 closed

[2017-10-03 09:03] MalloZup opened #64 "use `?` in function names that return booleans"
I would suggest that we start to use `?` for distinguish functions/methods that return a false/true.

Like `pr_triggered_by_comment?` (return a boolean where we check)
and `do_test` (doesn't return a boolean)

[2017-10-03 09:41] MalloZup opened #65 "Adding logger to gitarro"
It is time to add a logger utility to gitarro.

In testing mode we will enable the debug status, otherwise just info for user mode

https://ruby-doc.org/stdlib-2.1.0/libdoc/logger/rdoc/Logger.html

[2017-10-03 09:49] MalloZup opened #66 "Refactor in smaller classes/modules Backend.lib"
At moment the class Backend.rb has to many responsabilities.

We need to split it, in more indipendant classes. (or modules)
- TestExecutor class ( where all test execution operation are done)
- StatusPr class (where we handle all status operation)

- Tasks:

- [x] https://github.com/openSUSE/gitarro/issues/54  remove changelog

- [x] #67

- [x] 3

[2017-10-03 09:52] MalloZup opened #67 "Find better name for j_status var"
rename the var `j_status` to better name, like `test_status` or something better :rocket:

[2017-10-03 11:26] juliogonzalez commented on #66
Given all the problems we are having with rubocop complaining about Backend.lib, we should consider the refactor a priority.

[2017-10-03 12:10] #57 closed

[2017-10-03 13:17] MalloZup commented on #67
@juliogonzalez  i take this, and i will refactor a little the backend.rb

I want to remove the j_status variable because it is something that is obfuscating the results and it is in many functions  ( as a class variable it has to much dependencies).  better is to have function that take it or return the status.

[2017-10-03 14:04] juliogonzalez opened #71 "Do not return != 0 unless there are errors."
After #47  there seems to be a problem.

When there are no PRs we are now returning 0, which is correct since there were no errors.

However Jenkins does the following:
- If gitarro returned 0, it changes it to 1, so downstream job is not launched.
- If gitarro returned 1, it changes it to 0, so downstream job is launched.

We ned to change this behaviour. A Jenkins job must only fail when there i

[2017-10-03 14:14] MalloZup commented on #71
Ok for me, i would only  vote instead for the text, a bool variable. ( that jenkins can grep).
If we want to move away from jenkins, we need some general behaviour.

Indeed this behaviour was introduced the time we use the -C option, for running downstram jobs.
This complicate a bit the stuff/behaviour of gitarro.

I think we should add some spec_tests for catching this.

[2017-10-03 14:17] juliogonzalez commented on #71
Sounds great for me as well.

Do you mean something like:

```[PRS=FALSE] There are no Pull Requests opened```

?

[2017-10-04 08:58] MalloZup opened #74 "Move 2 units tests to rspec"
https://github.com/openSUSE/gitarro/blob/master/tests/unit_tests/t_backend.rb#L54
and
https://github.com/openSUSE/gitarro/blob/master/tests/unit_tests/t_backend.rb#L61

This tests use the github api in travis. We need to move this to rspec

[2017-10-04 09:03] #67 closed

[2017-10-04 09:13] MalloZup opened #76 "Tests in unit if this PR https://github.com/openSUSE/gitarro/pull/75"
We want to create the dir if the dir doesn't exist.
Create a simple tests for this

[2017-10-04 16:02] #74 closed

[2017-10-04 16:02] MalloZup commented on #74
fixed by #77

[2017-10-04 16:03] MalloZup commented on #71
fixed by #77.

[2017-10-05 07:42] juliogonzalez commented on #71
Reopening.

We are still returning != 0 at some other places such as lib/gitarro/backend.rb line 147

[2017-10-05 08:11] MalloZup commented on #71
right :)

[2017-10-05 10:37] MalloZup opened #79 "remove --C check optiont from gitarro, and create a /tools/gitarro_check.rb"
This options is mixing the behaviour.

We should have a test_executor and a trigger/scheduler (utilty/tools that is used on jenkins, for example)

[2017-10-05 11:04] juliogonzalez commented on #79
As discussed online, I think we should keep it as a "dry run".

It will be easier to use and identify after we refactor :-)

[2017-10-05 11:06] MalloZup commented on #79
ok maybe we will reopen it. :sunglasses:

[2017-10-05 11:06] #79 closed

[2017-10-06 09:05] MalloZup commented on #54
@juliogonzalez  afaik, the simplest solution for this, imho would be to create a docker container from gitarro, and freeze this container with the version of gitarro containing the changelog test.

I had a look at the changelog tests and this is the simplest solution imho.

[2017-10-06 09:51] juliogonzalez commented on #54
Let me see how the changelog test works right now and think a little about it, before we take a final decission.

[2017-10-06 10:06] MalloZup opened #82 "Enable reek support on rake"
Reek is a nice gem for refactoring, analyze the code.
https://github.com/troessner/reek
Would be nice to have a rake task.
And start to fix some warning

[2017-10-09 09:00] MalloZup commented on #54
@juliogonzalez  i have found a solution for this:

With this simply extrernal script:

´gitarro -t script´
[code]

We can test if last commit changed the .changes file or not, which is what we want.

The only issue, is in case a PR doesn't need to modify the changelog.

[2017-10-09 09:05] juliogonzalez commented on #54
I am not 100% sure, but I think it won't work if the PR has several commits and the changelog was not changed at the last commit.

[2017-10-09 09:07] juliogonzalez commented on #54
I will have a look today, but IMHO we would need a simple ruby script to check GitHub API.

Since netrc will be already present, it should be easy to do it.

[2017-10-09 09:11] MalloZup commented on #54
the only difficulty is that from  gitarro to the test_script, the test script doesn't know which PR number is tested (gitarro know that).

If you use another script to use the github api, ( we will consume again rate limiting) :D .

[2017-10-09 09:12] juliogonzalez commented on #54
Then most probably we need to refactor the changelog test to make the currenct code easier :-D

[2017-10-09 09:14] MalloZup commented on #54
atm the changelogtest is so refactored that it disappear :)

[2017-10-09 09:15] juliogonzalez commented on #54
Then maybe we will need to re-add it :-)

[2017-10-09 13:46] #82 closed

[2017-10-09 13:48] MalloZup commented on #71
there is only 1 in backend which is correct to have it there we can close this

[2017-10-09 15:45] MalloZup opened #84 "Add warning for --change_since enabled to show that the cache is not being used."
add a WARNING when --change_since enabled to show that the cache is not being used.

[2017-10-09 17:10] MalloZup commented on #51
closing, fixed by 2 prs merged

[2017-10-09 17:10] #51 closed

[2017-10-09 17:11] MalloZup commented on #71
closubg feel free to reopen, but the only 1 place is not enough :) thx
The place there is right for exiting 1 after test fail

[2017-10-09 17:11] #71 closed

[2017-10-09 17:12] MalloZup commented on #10
closing, at moment rspec is doing good work with locally forked repos

[2017-10-09 17:12] #10 closed

[2017-10-10 10:51] MalloZup commented on #64
https://stackoverflow.com/questions/7179016/what-is-the-purpose-of-and-at-the-end-of-method-names

[2017-10-10 14:44] #64 closed

[2017-10-10 15:38] #66 closed

[2017-10-11 09:23] #76 closed

[2017-10-11 13:40] #84 closed

[2017-10-12 14:46] MalloZup opened #89 "Pass PR metadata to script executed"
it would be nice that the script can have some metadata about the PR that is running on

[2017-10-12 14:47] dincamihai commented on #89
The most interesting port would be the PR name and author

[2017-10-12 15:34] MalloZup commented on #89
ok this is not really difficult. we can export this variables in ENV, and then each script(python, ruby can use them)

[2017-10-12 15:39] MalloZup commented on #89
@dincamihai  we can have all this variable
https://developer.github.com/v3/pulls/#get-a-single-pull-request

[2017-10-12 15:52] MalloZup commented on #89
@dincamihai  ok i just created a PR wich adress this.

It works. atm i added only 3 VARS, Pr number, Pr author, and Pr Title.  I think we could ad td more but it easy use them.

Next week i will merge the PR

[2017-10-12 15:56] MalloZup commented on #89
@juliogonzalez  feel free to make any suggestions for needed vars :sunflower:

[2017-10-13 16:47] #89 closed

[2017-10-13 16:47] MalloZup commented on #55
not needed

[2017-10-13 16:47] #55 closed

[2017-10-13 16:50] MalloZup opened #91 "add rspec test that ensure that we run 1 time only same context"
Run 1 time, after check that gitarro was runned only 1 time.
( this is imporant to ensure the design of gitarro, which is to run only by retrigger)

[2017-10-13 20:20] MalloZup opened #92 "Run rspec in parallee"

[2017-10-14 08:47] #92 closed

[2017-10-17 09:41] MalloZup opened #97 "Make rspec testsuite that run in parallel"
At moment we have a monolythic rspec suite.
We need  to split this and make it run parallel, so we can improve time and performance of having the tests results

[2017-10-17 10:12] #91 closed

[2017-10-17 16:47] #97 closed

[2017-10-18 16:07] #54 closed

[2017-10-19 14:46] MalloZup commented on #65
fo

[2017-10-19 14:46] #65 closed

[2017-10-22 22:13] MalloZup opened #103 "use github.com/javan/whenever"
we can explore whenever just for giving people  a possibility to use gitarro without jenkins.

Whenever will use the crontab and update this, we need only then to also give an example how to use gitarro with a webserver like webrick for updating the weburl

[2017-10-23 08:49] MalloZup opened #104 "make -g option Optional"
we need only 3 mandatory options;

Repo
Tests
and Name of the contest

For the -g option, we will store the location on a file so next run we will rerun

[2017-10-23 13:39] MalloZup opened #105 "add simplecov coverage"

[2017-10-31 17:34] MalloZup opened #106 "check option should return 0 when there is no option and 1 otherwise"
The check option should return 0 or 1 for foundinig on PRs need tests.

Printing Something and then parsing it with perl is not handy, when we use gitarro in other tools.

[2017-10-31 21:29] #103 closed

[2017-10-31 21:30] MalloZup commented on #26
With pipelines we dont need it

[2017-10-31 21:30] #26 closed

[2017-10-31 21:31] MalloZup commented on #105
Not needed for now

[2017-10-31 21:31] #105 closed

[2017-11-02 10:50] #106 closed

[2017-11-03 11:08] MalloZup opened #107 "use shallow clone for gitarro"
Using shallow clones will remove/refactor the code and we will remove the mandatory G option.

Additionally we will be more safe, avoiding conflict errors and artifacts. since we will remove

[2017-11-03 11:08] MalloZup commented on #107
https://github.com/openSUSE/gitarro/issues/104

[2017-11-03 11:12] MalloZup commented on #107
a) Shallow clone
 b) Use an external repo
 external , that already contains a git repo
, that's useful if the user wants to manage git with jenkins or any other tool
a) you will need a way to let the user to specify the place to clone
tmp is fine by default, as long as you add a parameter (or reuse an existing one) to specify another

[2017-11-03 14:35] juliogonzalez commented on #107
In fact my idea was:

a) Shallow clone (remember we won't be able to merge changes from the upstream branch, but that's fine we should test exactly the commit that the PR sent, without changing anything).
b) Allow specifying a place to clone, being /tmp/gitbot/girepo-YYYYMMDD-HHMMSS-mmm (mmm = miliseconds) the default
c) Show an ERROR and exit if the directory where the clone will be hosted exists

[2017-11-03 14:37] juliogonzalez opened #108 "Gitarro is not able to handle merge problems"
[code]

In this situation gitarro exists (correct) with a return value !=0 (correct), but it does not show any error or updates the PR test status at GitHub, leaving it as 'pending' forever.

[2017-11-03 14:38] juliogonzalez commented on #108
Check if gitarro is exiting with != 0 because of an exception, or if it is a controlled exit.

[2017-11-03 14:39] MalloZup commented on #108
ok thx!

[2017-11-06 13:33] #107 closed

[2017-11-06 15:49] MalloZup commented on #104
fixed

[2017-11-06 15:49] #104 closed

[2017-11-06 15:50] MalloZup commented on #108
fixed by shallow clone

[2017-11-06 15:50] #108 closed

[2017-11-07 09:55] meaksh opened #111 "gitarro exception causes a PR gets stuck in pending"
I'm having some issues with gitarro on this PR: https://github.com/SUSE/spacewalk/pull/2515

It seems that `gitarro` starts the execution for that PR but then get some exception and the PR gets stuck in `pending` state.

Either running a manual `rerun` command or force pushing the PR to recreate last commit don't work. It leads into the same problem again.

I've caught this exception on Jenkins du

[2017-11-07 10:27] MalloZup commented on #111
@meaksh  thank you. it seems that the file doesn't exist, i think there is a problem with the pipeline.
[code]

[2017-11-07 10:28] meaksh commented on #111
Thanks for taking a look to this @MalloZup ! 👍

[2017-11-07 10:31] MalloZup commented on #111
@meaksh thank a lot for your report. The pipeline is here,  https://github.com/SUSE/susemanager-ci

https://github.com/SUSE/susemanager-ci/pulls

[2017-11-07 10:49] MalloZup commented on #111
@meaksh  i will move the issue to https://github.com/SUSE/susemanager-ci/issues/6, i think i already fixed  it. feel free to report any other anomalies! i will wait for you next contribution on golang soon  ( i am plaining to do something in golang or elixir :D )D

[2017-11-07 10:49] #111 closed

[2017-11-07 15:46] MalloZup opened #112 "unable to work with cloned private repos"
gitarro cannot clone private repos

[2017-11-23 15:56] juliogonzalez opened #113 "gitarro does not mark tests as failed at GitHub if it's not able to clone a forked private repository"
https://ci.suse.de/job/manager-prs-schema-migration-pipeline/3947/console

It failed the test at Jenkins (OK), but the PR was not updated: https://github.com/SUSE/spacewalk/pull/2665#pullrequestreview-78753789

[2017-11-29 13:12] juliogonzalez opened #114 "Changelog test does not fail Jenkins builds when it fails"
https://ci.suse.de/job/manager-prs-changelog-pipeline/7402/console

Is it maybe returning an in correct return code (0) to the system?

But it does marks the test as failed at the PR: https://github.com/SUSE/spacewalk/pull/2725#pullrequestreview-79817891

[2017-11-29 13:25] MalloZup commented on #114
@juliogonzalez  thx, this is more a pipeline issue then a gitarro one, moving to susemanager-ci

[2017-11-29 13:25] #114 closed

[2017-11-29 13:26] MalloZup commented on #114
https://github.com/SUSE/susemanager-ci/issues/14

[2018-01-23 13:09] MalloZup opened #115 "send-an-email to github author of PR in case of a failed tests"
We want to send results for failed tests to the github author of the PR.

[2018-01-23 15:28] cavalheiro commented on #115
It would be interesting to include a way to "subscribe" for this feature on each PR (disabled by default).
My suggestion is something on the PR Template, a checkbox labelled something like "Get failure notifications for this PR on your email".

[2018-01-25 09:28] MalloZup commented on #113
closing because this was an issue specific to github user credentials:

https://github.com/SUSE/spacewalk/pull/3225

[2018-01-25 09:36] juliogonzalez commented on #113
Reopening, because there is a bug yet.

If the clone fails, the test must be marked as failed at GitHub, and right now it stays "running forever".

[2018-02-07 14:02] juliogonzalez opened #116 "Test fails, but gitarro returns 0"
https://ci.suse.de/job/manager-prs-schema-migration-pipeline/25265/

I'd say this is provoking the failure:
[code]
Shouldn't gitarro produce a log line to inform that the test is failed?

And of course, it should return != 0 so the CI job fails.

[2018-03-05 08:51] MalloZup opened #117 "ignore tests or skip tests with special tag --ignore"
would be nice to have a specific filepath for pr that will modify this paths, and just ingnore, this could be usefull to skip tests

[2018-03-07 17:59] MalloZup opened #118 "run selectively on specific branch"
--branch Manager-3.1 should run only on Manager-3.1 branch

within we can gain splitting job from branches

[2018-03-09 07:08] #118 closed

[2018-03-09 09:05] #117 closed

[2018-03-09 13:26] juliogonzalez commented on #113
Hapenning again at https://ci.suse.de/job/manager-tests-pipe/26790/console

[2018-07-02 09:23] MalloZup commented on #115
i am closing because we discussed it time ago.  thx

[2018-07-02 09:23] #115 closed

[2018-09-25 15:42] juliogonzalez opened #120 "Export the variables, write the VARS file and a new JSON file with details about the PR to be tested in all cases"
As discussed with @MalloZup at IRC:

We need to export the variables, write the VARS file and a write new JSON file with details about the PR to be on `--check` as well

Right now the VARS file is only written when an actual check was executed when a test was executed (no `--check`

This useful if at the real test we want to get information about the PR.

However the VARS file is just too simple a

[2018-09-26 12:00] #120 closed

[2018-09-30 16:35] juliogonzalez commented on #116
Fixed.

[2018-09-30 16:35] #116 closed

[2018-09-30 17:06] mcalmer commented on #116
I have currently trouble with gitarro cannot rerun a test. The test just abort  with an error i do not understand.

https://github.com/uyuni-project/uyuni/pull/152

Check the ci logs

[2018-09-30 23:56] juliogonzalez commented on #116
@mcalmer, I guess you are talking about the last error:
[code]
That's a problem with the pipeline for that job, as it seems no test report are found when test unit are failing. I guess we need an issue at SUSE/susemanager-ci so this is handled propperly instead of just producing a stacktrace.

But if you go to the build information: https://ci.suse.de/job/Uyuni-PRs/job/Uyuni-PRs-pgsql-pipeline/108

[2018-10-01 05:34] mcalmer commented on #116
@juliogonzalez I run these tests in eclipse and they were sucessful. So i wanted to rerun them. But this result directly in the first error before the test even started.

So yes, the backtrace may hapoen because there are no test results, but my problem is that the tests never really started.

[2018-10-01 11:05] MalloZup opened #126 "export ENV_Variable"
this function is not called

that is why is not used by changelog test and is failing

https://github.com/openSUSE/gitarro/blob/660bc1379d8eeefcb1765301b7d51a090bc4e164/lib/gitarro/backend.rb#L131

TODO:

add the helper in the global function.

https://github.com/openSUSE/gitarro/blob/660bc1379d8eeefcb1765301b7d51a090bc4e164/lib/gitarro/backend.rb#L102

@juliogonzalez i would also as `nitpick` jus

[2018-10-01 11:09] juliogonzalez commented on #126
@MalloZup he only reason I did not do it that way is because that function is still exporting to the old file as well. I'd suggest keeping it as it is untill we can remove that.

[2018-10-01 11:10] juliogonzalez commented on #126
Maybe `export_pr_data_to_files` in the meantime?

[2018-10-01 11:11] juliogonzalez commented on #126
Agh, ignore me, I now see I added a separated function. Adding your suggestion :-)

[2018-10-01 11:44] #126 closed

[2018-10-01 12:36] juliogonzalez opened #131 "Add a test for triggered_by_pr_number at backend"
Right now it's not covered: #130

[2018-10-03 17:33] juliogonzalez opened #132 "Gitarro runs test even when the filter is not matched"
Example:

PR https://github.com/uyuni-project/uyuni/pull/176 was only changing files inside `schema/` but the test https://ci.suse.de/job/Uyuni-PRs/job/Uyuni-PRs-pgsql-pipeline/11971/ was executed (I enabled the option to keep the build forever, so please disable it when this problem is fixed).

That job runs https://github.com/SUSE/susemanager-ci/blob/master/jenkins_pipelines/uyuni_prs/Jenkinsfil

[2018-10-03 17:36] juliogonzalez commented on #132
It's weird but according to the help, `-f` should be used with file extensions, not directories:
[code]

[2018-10-03 17:38] juliogonzalez opened #133 "Allow several filters at the same time"
So we can launch tests by tracking differents sets of files, and not only one extension.

One option is allowing several `-f`

But IMHO the easiest and most powerful approach is having `-f` accepting regex.

[2018-10-04 13:15] hustodemon opened #134 "2 comments needed for disabling changelog test"
[code]
Can we do this in with 1 comment only?

[2018-10-04 13:20] hustodemon opened #135 "Unify terminology for no changelog needed"
For re-running tests we have the `rerun` command. For disabling `changelog_test` we have `no changelog needed !!!`. I'd find this more intuitive:
[code]
Advantages:
* it follows the `<command> <test>` terminology
* it refers to the test by it's name (`changelog_test`, and not just `changelog`)
* it could be possibly extended for other tests (not saying this is a good idea in general, but sometimes

[2018-10-04 13:59] MalloZup commented on #135
@hustodemon thx  i can agree that having a generic mechanism for not running tests can be a feature. thx.

I would say it should rerun just only one time and make it green. ( this could be more tricky to implement, because gitarro is not storing any data about the PR status. but it could be ok).

[2018-10-05 07:34] MalloZup commented on #134
@hustodemon closing as duplicata

[2018-10-05 07:34] MalloZup commented on #134
https://github.com/openSUSE/gitarro/issues/135

[2018-10-05 07:34] #134 closed

[2018-10-05 07:36] MalloZup commented on #135
@hustodemon if you want to contribute on this pr i will point you few starter for contributing otherwise i think for the moment i cannot take it.

Thank you much for issue and feel free to open others.

[2018-10-05 07:37] MalloZup commented on #113
@juliogonzalez  do we fixed this or not? with the latest PR?

[2018-10-05 08:12] juliogonzalez commented on #113
@MalloZup I am not sure.

I would say yes, but I'd need to test it. For that I need a special cloned private repository with the inherited permissions removed it, so let's keep it for a while, until I can verify it.

[2018-10-05 08:14] MalloZup commented on #113
@juliogonzalez  ok thx  ! :boat:

[2018-10-05 12:43] MalloZup commented on #131
@juliogonzalez https://hacktoberfest.digitalocean.com/

[2018-10-05 12:50] MalloZup commented on #135
# For any contributors:

feel free to ping me on this issue about the details

[2018-10-05 13:45] juliogonzalez commented on #131
@MalloZup are you going to try to get a T-Shirt? :-D

[2018-10-06 14:56] MalloZup opened #136 "Annoucement: gitarro is becoming awesome ruby!"
@juliogonzalez jfyi

:tada: :tada:

[2018-10-06 14:57] MalloZup commented on #136
https://github.com/markets/awesome-ruby/pull/764

https://github.com/markets/awesome-ruby/pull/764#issuecomment-427444077

[2018-10-06 15:10] MalloZup commented on #136
![awesome](https://media0.giphy.com/media/3ohzdIuqJoo8QdKlnW/giphy.gif?cid=3640f6095bb8cf6d6b6e534f63fb3811)

[2018-10-07 16:41] MalloZup opened #137 "document the JSON files feature in advanced file"
@juliogonzalez  i would like that we document this feature in the `advanced section`. no need for roman but an example would be good!

[2018-10-07 16:50] MalloZup commented on #136
:tada:

you can grep https://github.com/markets/awesome-ruby

gitarro will show up

[2018-10-07 16:53] MalloZup commented on #136
done! :tada:

[2018-10-07 16:53] #136 closed

[2018-10-07 17:17] MalloZup opened #139 "exit directly in the function definition instead per each function call"
https://github.com/openSUSE/gitarro/blob/master/lib/gitarro/backend.rb#L207

instead of exiting by each function call , we need to exit only **1 time** and just on the function def.
In this way we improve readability of the code.

[2018-10-07 17:20] MalloZup opened #140 "we don't need a variable in this particual function :)"
https://github.com/openSUSE/gitarro/blob/master/lib/gitarro/backend.rb#L92

in that function we are creating a variable for then returning it.

instead we can just call the function  ( the return value will be returned by ruby)

[2018-10-07 18:56] #140 closed

[2018-10-08 08:46] #139 closed

[2018-10-08 08:50] MalloZup opened #143 "Simplyfiy each with enum of ruby"
here https://github.com/openSUSE/gitarro/blob/master/lib/gitarro/backend.rb#L123

we can use on of the  https://ruby-doc.org/core-2.5.1/Enumerable.html for avodind the push inside each.

[2018-10-08 08:58] MalloZup commented on #113
@juliogonzalez i am optimistic so i close this, and feel free to reopen in case opposite

[2018-10-08 08:58] #113 closed

[2018-10-08 09:00] MalloZup commented on #131
closing becausse i remember we have  a test for it

[2018-10-08 09:00] #131 closed

[2018-10-08 09:02] MalloZup opened #144 "Documentation: go throught and fix typos or logical pb"
This is about the easiest fix ever :smile:
Go through doc and fix logical errors or typos

[2018-10-08 11:49] jatin69 commented on #144
Hi, can i take this?

[2018-10-08 12:02] MalloZup commented on #144
@jatin69  sure feel free to take experiment and open pr or issue! For any info ping me

[2018-10-08 12:31] MalloZup commented on #144
Hi @jatin69 yop i would in your situation take all changes from upstream and rebase

[2018-10-08 12:49] jatin69 commented on #144
Hi @MalloZup I did my best to resolve all the conflicts. Please check it out.

[2018-10-08 12:54] MalloZup commented on #144
i consider it more or less closed ( since i accepted already 2 prs ) and other reviewed it before. !

Many thx  :cupid:

[2018-10-08 12:54] #144 closed

[2018-10-08 13:26] MalloZup opened #147 "performance tests for gitarro"
Would be nice to have some performance results/bechmarking for gitarro.

This could be something that we just have in the rspec or something else .
Feel free to explore , at find out something you like ! :+1:

[2018-10-08 13:45] ozmar-11 commented on #143
I would like to take this one

[2018-10-08 13:47] MalloZup commented on #143
@ozmar-11 feel free to improve the code ! :+1:

[2018-10-08 14:21] ozmar-11 commented on #143
@MalloZup could you please review my PR?

[2018-10-08 14:29] ozmar-11 commented on #143
Great, thanks

[2018-10-08 14:33] MalloZup commented on #143
@ozmar-11 have nice day! ciao thank you

[2018-10-10 07:48] MalloZup opened #150 "Design new Logo for gitarro"
I admit, i am not a designer :smile:

The challange would be to have something with Gundam, GIT and something funny. ( the octokit logo is kind of that).

We could think like a git-gundam looking like a rockstar like Metallica :guitar:

[2018-10-15 22:12] ggabogarcia commented on #150
Hello, I found this and I would like to collaborate, this is my proposal I hope you like it.
#
![robots](https://user-images.githubusercontent.com/35750428/46981341-82efda00-d09d-11e8-9b95-2ac86b76a5b6.jpg)

[2018-10-16 05:58] MalloZup commented on #150
WooooooooHah! This is mega awesome! I will merge it send a pr with the logo ! Awesome thx

[2018-10-16 10:03] MalloZup commented on #150
@ggabogarcia  i love it! feel free to send me a PR :cupid:

[2018-10-16 15:47] ggabogarcia commented on #150
I am going to correct some details and then I create a PR, besides I will send you the editable files, PDF, EPS and SVG

[2018-10-16 18:15] ggabogarcia commented on #150
Hello, I was thinking about placing this in the readme file, what do you think?
#
![mesa de trabajo 1ldpi](https://user-images.githubusercontent.com/35750428/47037795-86d73700-d145-11e8-8028-f9d65b172a60.png)

[2018-10-16 18:32] MalloZup commented on #150
Beautiful

[2018-10-16 18:33] MalloZup commented on #150
I like it with colors also

[2018-10-16 18:53] ggabogarcia commented on #150
I think I better send you the files hehe :smile_cat:
# [Files](https://drive.google.com/drive/folders/1flJdjWXa9NtLVcn1DK1dWkG-08WHafci?usp=sharing)
![DERECHOS.jpg](https://cdn.steemitimages.com/DQmVSH7hxt3nuyDxNRdWUBUBtfR11TyvLxM1F1C4vYW5UzG/DERECHOS.jpg)
This work is licensed under a [Creative Commons Attribution 4.0 International License](https://creativecommons.org/licenses/by/4.0/)

[2018-10-16 19:05] MalloZup opened #152 "Use files for readme instead of weblink"
https://github.com/openSUSE/gitarro/pull/151 we need to use the file and updated them

[2018-10-18 13:42] toshitapandey commented on #152
@MalloZup Can i pick it up?

Also, I see that your readme is already using GIT links, what exactly is expected to be referenced?

[2018-10-18 13:51] MalloZup commented on #152
@toshitapandey yop pick this up. Basically we need to create a dir putting the logo files and then use the link.to localpath

[2018-10-18 13:52] MalloZup commented on #152
https://github.com/openSUSE/gitarro/issues/150#issuecomment-430355818

[2018-10-18 13:53] MalloZup commented on #152
The files are there ,.so we need to create a logo and dir and remove the website link where.the logo is coming

[2018-10-18 13:55] toshitapandey commented on #152
Cool. Picking it up then. :)

[2018-10-18 13:58] MalloZup commented on #152
Nice thx

[2018-10-18 16:56] #150 closed

[2018-10-18 16:57] MalloZup commented on #152
thank you!

[2018-10-18 16:57] #152 closed

[2019-01-03 12:36] MalloZup opened #156 "add changelog"
Add changelog so we can print what is new.

To be researched if we want to add it via rubygem etc etc.

[2019-01-03 12:48] MalloZup opened #157 "add case-insensitive comments/trigger action"
https://github.com/openSUSE/gitarro/pull/154/files#r244713403

there are other place where this can be done.

[2019-01-03 12:59] srbarrios commented on #157
Bear in mind that case-insensitive in substitutions is not as easy as downcase both operands ;)

[2019-01-03 13:02] MalloZup commented on #157
ok thx, we will see. At moment i put this a prio low, i will need to check later. :poodle:

[2019-01-03 13:16] MalloZup opened #158 "Add generic string to comments."
Currently and back in the day, we used a `magic comment` for retrigger test.

I think honestly that we should just use `retest TESTNAME` as comment, without the long comment.

We could keep the old string for backwards API compatibility , but a more semplistic way is ok to have.

[2019-01-03 13:17] #147 closed

[2019-01-03 13:19] MalloZup opened #159 "remove check from gitarro"
The check functionality is kind overwhelming to maintain.

We should remove it and then implement something different in other projects.

We could link that library here.

[2019-01-05 13:33] MalloZup commented on #156
https://github.com/openSUSE/gitarro/commit/d1661d6eb99808324561a35bb35f64eca30e0d44

[2019-01-05 13:33] #156 closed

[2019-02-20 12:06] MalloZup opened #164 "check status of testacc"
# tasks:

we might need to check if the testacc are failing for PRs or need some improvements for catching errors.

The root cause was a PR where tests were ok but we didn't catch a regression

That's what @srbarrios did, but it seems he did not remember when he commited again.

And that's understandable. It can happen to anyone.

Such test should be automated, not manual. Not when we commit, and

[2019-02-20 16:00] srbarrios opened #166 "Gitarro --check flag"
Hi,

After run `gitarro.ruby2.1 -r ${repository} -t placeholder --check --changed_since 3600` if there is something to retrigger, so I have a comment or checked_checkbox with a test to rerun, it will change the status in github addind a "pending" status for that test.

[code]

Is that behavior correct?

If that's correct I can't use the --check flag to avod using a GitHub webhook. I'm checking wit

[2019-02-21 08:24] MalloZup commented on #166
If check set a pending flag we need to fix this without adding an extra cmdline label. Check call should be called with a filter this is the concept of gitarro.

[2019-02-21 10:08] srbarrios commented on #166
The issue now is that if we fix it, we will change the current behavior and maybe someone was using it.

[2019-02-21 10:13] MalloZup commented on #166
on the main design, i don't think `check` should add `pending` so we threat this as bug

[2019-02-21 10:15] srbarrios commented on #166
I have the same opinion, yes. I was just worried about that change of behavior, but if we agreed on it, perfect, easier to fix on my side.

[2019-02-21 10:19] MalloZup commented on #166
ok good that you open an issue for dicussing it. :+1:

[2019-03-30 11:43] MalloZup commented on #132
This GitHub PR is unactive since more then 50 days. Is this GitHub PR still needed? Please close or update it accordingly.
         This reminder is autogenerated by https://github.com/MalloZup/blacktango

[2019-03-30 11:43] MalloZup commented on #133
This GitHub PR is unactive since more then 50 days. Is this GitHub PR still needed? Please close or update it accordingly.
         This reminder is autogenerated by https://github.com/MalloZup/blacktango

[2019-03-30 11:44] MalloZup commented on #135
This GitHub PR is unactive since more then 50 days. Is this GitHub PR still needed? Please close or update it accordingly.
         This reminder is autogenerated by https://github.com/MalloZup/blacktango

[2019-03-30 11:44] MalloZup commented on #137
This GitHub PR is unactive since more then 50 days. Is this GitHub PR still needed? Please close or update it accordingly.
         This reminder is autogenerated by https://github.com/MalloZup/blacktango

[2019-03-30 11:44] MalloZup commented on #157
This GitHub PR is unactive since more then 50 days. Is this GitHub PR still needed? Please close or update it accordingly.
         This reminder is autogenerated by https://github.com/MalloZup/blacktango

[2019-03-30 11:44] MalloZup commented on #158
This GitHub PR is unactive since more then 50 days. Is this GitHub PR still needed? Please close or update it accordingly.
         This reminder is autogenerated by https://github.com/MalloZup/blacktango

[2019-03-30 11:44] MalloZup commented on #159
This GitHub PR is unactive since more then 50 days. Is this GitHub PR still needed? Please close or update it accordingly.
         This reminder is autogenerated by https://github.com/MalloZup/blacktango

[2019-03-30 11:44] MalloZup commented on #164
This GitHub PR is unactive since more then 30 days. Is this GitHub PR still needed? Please close or update it accordingly.
         This reminder is autogenerated by https://github.com/MalloZup/blacktango

[2019-03-30 11:44] MalloZup commented on #166
This GitHub PR is unactive since more then 30 days. Is this GitHub PR still needed? Please close or update it accordingly.
         This reminder is autogenerated by https://github.com/MalloZup/blacktango

[2019-03-30 13:39] juliogonzalez commented on #133
Yes it is. It would allow saving API API calls :-)

[2019-03-30 13:41] juliogonzalez commented on #132
I think it still happens. But we'll need to have a second look @srbarrios, can you recall this problem lately?

[2019-03-30 13:42] juliogonzalez commented on #137
This is still pending, yes. I will see if can handle it soon.

[2019-04-01 08:07] srbarrios commented on #166
That task is done.

[2019-04-01 08:07] #166 closed

[2019-04-01 08:12] srbarrios commented on #132
Well, after the last changes in our team, on Jenkins Pipelines, yes was happening but is probably not related. So it was related to chain a first "check" with gitarro and then a second call to gitarro using --PR which was not filtering and re-triggering directly.

[2019-04-01 08:58] MalloZup commented on #132
Thx oscar feel free to close

[2019-04-01 08:59] MalloZup commented on #133
Yes sorry Julio j was testing my bot. It is usefull

[2019-06-14 10:01] srbarrios opened #172 "Improve test coverage"
It would be interesting to review the rspec test and see how we can improve them.
Things in mind:
- Better naming and structure of secondary_spec.rb and secondary2.spec, understanding the reasons behind the current structure
- We currently have features where the list of prs to be processed is important, as sometimes we skip it, sometimes we force one pr. We could try to add more coverage, checkin

[2019-06-28 08:48] Bischoff opened #174 ""No changelog needed" checkbox broken"
Since a few weeks, that checkbox does not produce the desired effects.

The plain old "gitarro no changelog needed !!!" still works though.

[2020-04-27 08:18] MalloZup commented on #174
@Bischoff is this still true? @juliogonzalez cc

[2020-04-27 08:19] #164 closed

[2020-04-27 08:19] #159 closed

[2020-04-27 08:56] Bischoff commented on #174
No, it isn't true anymore as far as I kow. Thanks for noticing. Closing.

[2020-04-27 08:56] #174 closed

[2020-12-24 14:23] #132 closed